<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @add_category_id_to_author.category_id %>
</p>

<%= link_to 'Edit', edit_add_category_id_to_author_path(@add_category_id_to_author) %> |
<%= link_to 'Back', add_category_id_to_authors_path %>
