<h1>New Create Recipes Authors Join Table</h1>

<%= render 'form', create_recipes_authors_join_table: @create_recipes_authors_join_table %>

<%= link_to 'Back', create_recipes_authors_join_tables_path %>
